DATABASE_URL=

# A secret to generate secure sessions in NextAuth.js
NEXTAUTH_SECRET=

# github
GITHUB_ID=
GITHUB_SECRET=

# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# next claudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
